#infographic {
  margin-top: 50px; }
  #infographic ul, #infographic li {
    list-style-image: url("../images/kampagne/bullet.svg");
    margin: 0;
    font-size: 1vw; }
  #infographic .headline {
    font-size: 1.2em;
    font-weight: 800;
    height: 2em;
    letter-spacing: .2; }
  #infographic .price {
    font-size: 3em;
    line-height: 2;
    opacity: 0;
    color: #000; }
    @media screen and (max-width: 480px) {
      #infographic .price {
        font-size: 1em !important; } }
    @media screen and (min-width: 481px) and (max-width: 600px) {
      #infographic .price {
        font-size: 2em !important; } }
    @media screen and (max-width: 600px) {
      #infographic .price {
        opacity: 1; } }
  #infographic .masze, #infographic .price {
    font-weight: 700; }
  #infographic li {
    line-height: 2; }

.my .headline {
  background: url("../images/kampagne/logo.png") center center no-repeat transparent;
  background-size: contain;
  text-indent: -200%;
  display: block;
  overflow: hidden;
  width: 100%; }

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  align-items: flex-end; }
  .wrapper .item {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center; }
    .wrapper .item .headline {
      border-top: 2px solid #333; }
    .wrapper .item.info {
      -webkit-box-flex: 2;
      -moz-box-flex: 2;
      -webkit-flex: 2;
      -ms-flex: 2;
      flex: 2; }
    .wrapper .item.my {
      background: url("../images/kampagne/bg-my.svg") transparent no-repeat 50% 35%;
      background-size: 0%; }
    .wrapper .item.my:hover {
      background-size: 50%;
      -webkit-transition: all 200ms ease-in;
      -moz-transition: all 200ms ease-in;
      -ms-transition: all 200ms ease-in;
      -o-transition: all 200ms ease-in;
      transition: all 200ms ease-in; }

.content {
  margin: 0 1em;
  background-repeat: repeat-x;
  background-position: center bottom;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex-direction: column-reverse;
  -moz-box-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  justify-content: flex-end; }
  @media screen and (min-width: 768px) {
    .content {
      min-height: 420px;
      margin: 0 2em; } }
  .content > * {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-top: 1px dashed white; }
    @media screen and (min-width: 768px) {
      .content > * {
        height: 100px; } }
  .content .facts {
    text-align: left;
    border-color: #333; }
  .content li:first-child {
    padding-top: 2em; }
  .content .masze {
    -webkit-box-flex: 3;
    -moz-box-flex: 3;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3; }
  .content:hover .price {
    opacity: 1 !important;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in; }
  .my .content {
    background-image: url("../images/kampagne/item-bg-my.svg"); }
    @media screen and (max-width: 600px) {
      .my .content {
        background-size: auto 40%; } }
    @media screen and (min-width: 601px) {
      .my .content {
        background-size: auto 30%; } }
  .my .content > .empty {
    border: 0 !important; }
  .other .content {
    background-image: url("../images/kampagne/item-bg-other.svg"); }
    @media screen and (max-width: 600px) {
      .other .content {
        background-size: auto 60%; } }
    @media screen and (min-width: 601px) {
      .other .content {
        background-size: auto 80%; } }

.item:not(.info) .content:hover {
  animation-duration: 3s;
  animation-name: fadeInUp; }

.icon {
  background-repeat: no-repeat;
  background-position: 50% 80%;
  background-size: auto 80%;
  min-height: 75px; }
  @media screen and (max-width: 480px) {
    .icon {
      min-height: 25px; } }
  @media screen and (min-width: 481px) and (max-width: 600px) {
    .icon {
      min-height: 50px; } }
  .my .icon {
    background-image: url("../images/kampagne/spool.svg"); }
  .other .icon {
    background-image: url("../images/kampagne/stringset.svg"); }

/*# sourceMappingURL=style.css.map */
