@mixin transition{
	-webkit-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	-ms-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
}
#infographic {
	margin-top: 50px;
	ul, li {
		list-style-image: url('../images/kampagne/bullet.svg');
		margin: 0;
		font-size: 1vw;
	}
	li{
		line-height: 2;
	}
	.masze, .price{
		font-weight: 700;
	}
	.headline{
		font-size: 1.2em;
		font-weight: 800;
		height: 2em;
		letter-spacing: .2;
		border-top: 2px solid #333;
	}
	
	.my .headline{
		background: url('../images/kampagne/logo.png') center center no-repeat transparent;
		background-size: contain;
		text-indent: -200%;
		display: block;
		overflow: hidden;
		width: 100%;
	}
	
	.price {
		@media screen and (max-width:480px){
			font-size: 1em !important;
		}
		@media screen and (min-width:481px) and (max-width:600px){
			font-size: 2em !important;
		}
		@media screen and (max-width:600px){
			opacity: 1;
		}
		font-size: 3em;
		line-height: 2;
		opacity: 0;
		color: #000;
	}
}
.wrapper{
	width: 100%;
	&:after{
		content: ' ';
		clear:both;
		display: block;
	}
	.item{
		float: left;
		
		&.info{
			width: 50%;
		}
		
		&.my{
			width: 25%;
		}
		
		&.other{
			width: 25%;
		}
		
		
	}
}
.content{
	margin: 0 1em;
	background-repeat:repeat-x;
	background-position: bottom left;
	text-align: center;
	
	@media screen and (min-width:768px){
		height: 400px;
		margin: 0 2em;
	}
	
	> * {
	height: 100px;
	border-top: 1px dashed white;
	}
	.facts {
		text-align: left;
		border-color: #333;
		
		li:first-child {padding-top: 2em;}
	}
	&:hover .price {
		opacity: 1 !important;
		@include transition;
	}
	.my & {
		background-image:url('../images/kampagne/item-bg-my.svg');
		@media screen and (max-width:600px){
			background-size: auto 40%;
		}
		@media screen and (min-width:601px){
				background-size: auto 30%;
		}
	}
	.other &{
		background-image:url('../images/kampagne/item-bg-other.svg');
		@media screen and (max-width:600px){
			background-size: auto 60%;
		}
		@media screen and (min-width:601px){
				background-size: auto 75%;
		}
	}
}