@mixin transition{
	-webkit-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	-ms-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
}
body {
	font-family: 'Open Sans' sans-serif;
	font-size: 14px;
}

ul, li {
	list-style-image: url('../img/bullet.svg');
	margin: 0;
	font-size: 1vw;
}
h2{
	font-size: 1.2em;
	font-weight: 800;
	height: 2em;
}
.price {
	font-size: 3em;
	line-height: 2;
	opacity: 0;
}
.masze, .price{
	font-weight: 700;
}
li{
	line-height: 2;
}
.my .headline{
	background: url(../img/logo.png) center center no-repeat transparent;
	background-size: contain;
	text-indent: -200%;
	display: block;
	overflow: hidden;
	width: 100%;
}
.wrapper{
	width: 70%;
	margin: 50px auto;
	display: flex;
	justify-content: space-around;
	align-items:flex-end;
	
	.item {
		flex: 1;
		text-align: center;
		
		.headline {
		border-top: 2px solid #333;
		}

	&.info{
		flex: 2;
	}
	&.my:hover, &.other:hover{
		.price {
			opacity: 1;
			@include transition;
		}
	}
	&.my{
		background: url(../img/bg-my.svg) transparent no-repeat 50% 35%;
		background-size: 0%;
	}
	&.my:hover{
		background-size: 50%;
		@include transition;
		}
	}

}

.content{
	min-height: 420px;
	margin: 0 2em;
	background-repeat:repeat-x;
	background-position: center bottom;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	
	> * {
		flex: 1;
		border-top: 1px dashed white;
		/*border: 1px solid red;*/
		height: 100px;
	}
	.facts {
		text-align: left;
		border-color: #333;
		li:first-child {padding-top: 2em;
	}
	}
	.masze{
		flex: 3;
	}
	.price {
		color: #000;
	}
	.my &{
	background-image:url(../img/item-bg-my.svg);
	background-size: auto 0%;
	}
	.my:hover &{
		background-size: auto 30%;
		@include transition;
	}
	.other &{
	background-image:url(../img/item-bg-other.svg);
	background-size: auto 0%;
	}
	.other:hover &{
		background-size: auto 80%;
		@include transition;
	}
}

.icon{
	background-repeat:no-repeat;
	background-position: 50% 75%;
	background-size: auto 80%;
	.my & {
		background-image:url(../img/spool.svg);
		/*height: 110px;*/
	}
	.other & {
		background-image: url(../img/stringset.svg);
	}
	
}

