@mixin transition{
	-webkit-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	-ms-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
}
@mixin flexbox-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flexdirection($option){
    -webkit-box-flex-direction: $option;
    -moz-box-flex-direction: $option;
    -webkit-flex-direction: $option;
    -ms-flex-direction: $option;
    flex-direction: $option;
}
@mixin flex-wrap ($direction,$method){
    flex-flow: $direction $method;
    -webkit-flex-flow:$direction $method;
}
@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}
#infographic {
	margin-top: 50px;
        text-align:center;
	ul, li {
		list-style: none;
		margin: 0;
		font-size: 1vw;
	}
	.masze, .price{
		font-weight: 700;
	}
	.headline{
		font-size: 1.2em;
		font-weight: 800;
		height: 2em;
                display: block;
		letter-spacing: .2;
                text-align: center;
	}
	
	.my .headline{
		background: url('../images/kampagne/logo.png') center center no-repeat transparent;
		background-size: contain;
		text-indent: -200%;
		overflow: hidden;
		width: 100%;
	}
	
	.price {
		@media screen and (max-width:480px){
			font-size: 1em !important;
		}
		@media screen and (min-width:481px) and (max-width:600px){
			font-size: 2em !important;
		}
		@media screen and (max-width:600px){
			opacity: 1;
		}
		font-size: 3em;
		line-height: 2;
		opacity: 0;
		color: #000;
	}
        .masze{
            height:1em;
            display:block;
        }
}
.wrapper{
        @include flexbox-container;
	width: 100%;
/*	&:after{
		content: ' ';
		clear:both;
		display: block;
	}*/
	.item{
                @include flexbox-container;
                @include flexdirection(column);
                position:relative;
		
		&.info{
/*			width: 50%;*/
                @include flex(2);
               
		}		
		&.other, &.my{
/*			width: 25%;*/
                @include flex(1);
		}
                > * {
                    @include flex(1);
                }
	}
}
.content{
	text-align: center;
        background: #eee;
        height :400px;
	@include flexbox-container;
        @include flexdirection(column);
	@media screen and (min-width:768px){
		margin: 0 2em;
	}
	
	> * {
            @include flex(1);
            width:100%;
            display: block;
/*            border-top: 1px dashed white;*/
            background-color:transparent;
	}
	.facts {
		text-align: left;
		border-color: #333;
                ul {
                    padding:2em 0 0 0;
                }
                li{
                    line-height: 2;
                    background:transparent url("../images/kampagne/bullet.svg") no-repeat scroll left center / 1em auto;
                    padding-left: 2em;
                }
	}
        .my & > .empty {
		border: 0 !important;
	}
        &:hover .price {
            opacity: 1 !important;
            @include transition;
        }
}
.item {
    position: relative;
    &:not(.info) .content:before{
    content:' ';

    display: inline-block;
    width: 80%;

    position: absolute;
    bottom:4em;
    left:50%;
    margin-left:-40%;
    }
    &.my{
        background:transparent url("../images/kampagne/bg-my.svg") no-repeat 50% 35% / 0%;
        &:hover {
            background-size: 50%;
            @include transition; 
        }
    }
    &.my .content:before{
       background-image: url("../images/kampagne/item-bg-my.svg"); 
       height:140px;
    }
        &.other .content:before{
       background-image: url("../images/kampagne/item-bg-other.svg"); 
       height:210px;
    }
}

.icon{
    background: transparent;
    position: absolute;
    bottom: 2em;
    left: 50%;
    margin-left: -50%;
    img {
       	height: 75px;
        margin:2em 0;
	
	@media screen and (max-width:480px){
		min-height: 25px;
	}
	@media screen and (min-width:481px) and (max-width:600px){
		min-height: 50px;
	} 
    }
	
}